:root {
    --ff-header: 'Oswald', sans-serif;
    --ff-text: 'Roboto', serif;
    --color-main: #0E0F12;
    --color-neace: #F67647;
    --color-header: rgba(255, 255, 255, 0.87);
    --color-content: rgba(255, 255, 255, 0.67);
    --color-accent: #09090c;
}

*,
*::before,
*::after 
{
    box-sizing: border-box;
}

h1 
{
    color: var(--color-header);
    font-family: var(--ff-header);
    font-size: clamp(3rem, 6vw, 7rem);
    font-weight: 700;
    text-align: center;
}

h2 
{
    color: var(--color-header);
    font-family: var(--ff-header);
    font-size: clamp(2rem, 2.2vw, 3rem);
    font-weight: 500;
    text-align: center;
}

h3 
{
    color: var(--color-header);
    font-family: var(--ff-text);
    font-size: clamp(0.8rem, 1.2vw, 1.7rem);
    font-weight: 700;
    text-align: center;
}

h4 
{
    color: var(--color-neace);
    font-family: var(--ff-text);
    font-weight: 500;
}

p 
{
    font-weight: 400;
    max-width: 55ch;
    line-height: 1.6;
    font-size: clamp(0.9rem, 1.05vw, 1.5rem);
    padding: 0.2rem 0;
    text-align: center;
}

img 
{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

strong
{
    color: var(--color-neace);
}

a 
{
    text-decoration: none;
    color: var(--color-header);
}

body 
{   
    background-color: var(--color-main);
}

main
{
    color: var(--color-content);
    font-family: var(--ff-text);
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    background-color: #000;
}

section 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container--content 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.container--button 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5em;
}

section#home .container--button
{
    margin: 0;
}

.button 
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2rem;
    padding: 1rem;
    cursor: pointer;
    font-size: clamp(0.8rem, 1vw, 1rem);
    font-weight: 500;
    border-radius: 2rem;
    padding: 0.75em 1.5em;
    border: .18rem solid var(--color-neace);
    background-color: rgba(246, 118, 71, 0.2);
    color: var(--color-neace);
}

section#home .button
{
    color: white;
    border-radius: 0.25em;
    width: 17em;
    margin-top: 1em;
    font-family: var(--ff-header);
    color: var(--color-neace);
    letter-spacing: 0.1em;
    background-color: rgba(246, 118, 71, 0.2);
}

::selection 
{
    color: var(--color-neace);
}

video
{
    display: block;
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    filter: brightness(50%);
}

section#book
{
    background-image: url('images/desktop/book-section-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section#home
{
    position: relative;
    margin: 0;
    padding: 0;
}

section#home h2
{
    font-size: clamp(1.5rem, 2.2vw, 3rem);
    font-weight: 500;
    line-height: 1.5;
    padding: 0;
}

nav
{
    display: none;
}

section#about .container--button
{
    align-self: center;
}

section#reviews
{
    background-color: var(--color-accent);
}

.container--stats 
{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    word-break: break-word;
    padding: 2rem 0;
}

.container--stats > * 
{
    text-align: center;
    width: 33.333333333%;
}

.container--stats > * > * 
{
    padding: 0;
}

.stats--border 
{
    border-left: 0.1rem solid #1f1f1f;
    border-right: 0.1rem solid #1f1f1f;
    padding: 0 0.7rem;
}

footer 
{
    display: none;
}

.swiper-pagination
{
    bottom: 2rem;
}

.swiper-pagination-bullet
{
    background-color: #fff !important;
}

.swiper-pagination-bullet-active
{
    background-color: var(--color-neace) !important;
}

.teamSwiper,
.testimonialSwiper,
.reviewSwiper
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.teamSwiper .container--content,
.testimonialSwiper .container--content,
.reviewSwiper .container--content
{
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.teamSlider h2,
.testimonialSlider h2,
.reviewSlider h2
{
    line-height: 1.2;
}

button
{
    border: none;
    background: none;
    color: white;
}

.coach--5fire
{
    background-image: url('images/desktop/yone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.coach--1
{
    background-image: url('images/desktop/thresh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.coach--2
{
    background-image: url('images/desktop/riven.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.coach--3
{
    background-image: url('images/desktop/hecarim.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonials--ninja
{
    background-image: url('images/desktop/ninja.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonials--ellis
{
    background-image: url('images/desktop/ellis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonials--robert
{
    background-image: url('images/desktop/robert.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img
{
    width: 100%;
    object-fit: cover;
}

html,
body
{
    max-height: 100vh;
    height: 100vh;
    min-height: 600px;
    width: 100%;
}

section 
{
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

nav
{
    display: none;
}

i
{
    font-size: 1.3rem;
}

.review--rating
{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 1em 0 1em 0;
    color: var(--color-header);
}

section#reviews .swiper-slide
{
    background-image: url('images/wp2139193.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section#home .container--content,
section#home .container--button
{
    z-index: 1;
}

nav
{
    display: none;
}

.container--cards 
{
    justify-content: center;
    gap: 1.5vw;
}

footer
{
    display: none;
}

.button.large 
{
    width: 20rem;
    background-color: transparent;
    box-shadow: none;
    border: 0.2rem solid var(--color-neace);
    padding: 0.9em;
}


.container--image
{
    position: absolute;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

section#about
{
    background-image: url('images/desktop/Untitled-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section#about .container--button
{
    justify-content: flex-start;
}

section#home h1 
{
    color: white;
}

section#home h2 
{
    font-weight: 400;
}

@media (max-width: 1000px)
{
    section#book
    {
        background-image: none;
    }

    section#reviews .container--content
    {
        justify-content: center;
        align-items: center;
    }

    section#reviews .container--content p
    {
        text-align: center;
    }
}

@media (max-width: 1300px)
{
    section#about .container--content
    {
        background-color: rgba(0, 0, 0, 0.8);
        min-width: 100%;
        min-height: 100%;
        top: 0;
        right: 0;
        z-index: 1;
        position: relative;
        align-items: center;
    }

    section#about
    {
        background-image: url('images/SummonersRift.jpg');
    }
}

html,
body,
h1,
h2,
h3,
h4,
p
{
    margin: 0;
}